header{
    display:flex;
    flex-direction: row;
    gap:30px;
}
header img{
    height:70px;
}
header h1{
    font-family: sans-serif;
    color: blue;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(221,221,221);
    gap:30px;
}
nav img{
    height:50px ;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap:100px;
}
nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
nav a:hover{
    color:rgb(104,24,231); 
    text-decoration: underline;
    font-weight: 800;
}
nav a:focus{
    background-color: rgb(223, 223,223);
    border: solid 2px red;
    border-radius:20px;
}

.aside_nave{
    display:flex;
    flex-direction: row;

}
aside{
    display: flex;
    width: 25%;
    height: 800px;
    background-color:mediumaquamarine ;
    align-items: center;
    justify-content: space-around;
}

aside div{
    border: 2px solid;
    width: 250px;
    height:700px ;
}
main{
    display: flex;
    flex-direction:row;
    width: 75%;
    height: 800px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
main div{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 250px;
    height: 500px;
  
   
}
main div:nth-child(1){
   
}
main div:nth-child(2){
   
}
main div:nth-child(3){
  
}
main .liens{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
   border: none;
   align-items: center;
  
}
main a{
    width: 90%;
    height:70px ;
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
main a:first-child{
    height: 100px;
}